<div class="container">
    <div class="row">
        <div class="column">
            <div class="tile">
                <app-aircraft></app-aircraft>
            </div>
            <div class="tile">
                <app-landing></app-landing>
            </div>
        </div>
        <div class="column">
            <div class="tile">
                <app-aircraft-position></app-aircraft-position>
            </div>
        </div>
        <div class="column">
            <div class="tile">
                <app-last-flight></app-last-flight>
            </div>
        </div>
        <div class="column">
            <div class="tile">
                <app-next-flight></app-next-flight>
                <a class="button button-outline" href="/overview">See all flights on the map</a>
            </div>
        </div>
    </div>
</div>