@use "../libs/vars" as *;
@use "../libs/functions" as *;

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  a {
    flex: 1 0 13%;

    img {
      width: 100%;
    }
  }

  @media only screen and (max-width: val($breakpoints, medium)) {
    a {
      flex: 1 0 21%;
    }
  }

  @media only screen and (max-width: val($breakpoints, small)) {
    a {
      flex: 1 0 34%;
    }
  }
}

@media only screen and (max-width: val($breakpoints, medium)) {
  .gallery {
    gap: 20px;
  }
}

@media only screen and (max-width: val($breakpoints, small)) {
  .gallery {
    gap: 10px;
  }
}