@use "../libs/vars" as *;
@use "../libs/functions" as *;

#map {
    height: 100%;
    background: #2a2f4a;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.ol-popup {
    position: absolute;
    background-color: val($palette, bg);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid val($palette, border);
    bottom: 12px;
    left: -50px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: val($palette, bg);
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: val($palette, border);
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  #popup-content {
    white-space: nowrap;
  }