<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div id="wrapper">

        {% include header.html %}

        <section id="banner" class="accent{{ page.navorder }} {{ page.imagePosition }} fade">
            <span class="banner-image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <div class="inner">
                <div class="headline">
                    <h1>{{ page.title }}</h1>
                    <span>{{ page.description }}</span>
                </div>
            </div>
        </section>

        {{ content }}

        {% include footer.html %}
    </div>
    {% include menu.html %}
    {% include scripts.html %}
</body>

</html>