<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}

	<div id="main" class="alt">
		<section id="one">
			<div class="inner">
				<!-- Title -->
				<header class="major">
					<h2>{{ page.description }}</h2>
					<p>{{ page.route }} | {{ page.airacCycle }}</p>
				</header>
				<!-- Map -->
				<div class="map-container">
					<div id="map"></div>
				</div>
				<br />
				<!-- InfoBox -->
				<div>
					<div class="row">
						<!-- Departure & Arrival -->
						<div class="6u 12u$(medium)">
							<h3><i class="fa-solid fa-plane-departure"></i> Departure</h3>
							<ul class="alt">
								<li>{{ page.departure.name }} ({{ page.departure.ident }})</li>
								<li>{{ page.departure.region.name }}</li>
								<li>{{ page.departure.country.name }}</li>
							</ul>
						</div>
						<div class="6u 12u$(medium)">
							<h3><i class="fa-solid fa-plane-arrival"></i> Arrival</h3>
							<ul class="alt">
								<li>{{ page.arrival.name }} ({{ page.arrival.ident }})</li>
								<li>{{ page.arrival.region.name }}</li>
								<li>{{ page.arrival.country.name }}</li>
							</ul>
						</div>
					</div>

					<!-- Route & Fuel -->
					<div class="row">
						<div class="6u 12u$(medium)">
							<h3><i class="fa-solid fa-signs-post"></i> Route</h3>
							<ul class="alt">
								{% assign flyOverhead = page.distanceKm | times: 1.0 | divided_by: page.greatCircleKm | times: 100 | minus: 100 %}
								<li>
									{{ page.distanceKm | round:0 }} km actual ( +{{ flyOverhead | round: 0 }}% )
								</li>

								{% assign planOverhead = page.routeKm | times: 1.0 | divided_by: page.greatCircleKm | times: 100 | minus: 100 %}
								<li>{{ page.routeKm | round: 0 }} km planned ( +{{ planOverhead | round: 0 }}% )</li>
								<li>{{ page.greatCircleKm | round:0 }} km direct </li>
							</ul>
						</div>
						<div class="6u 12u$(medium)">
							<h3><i class="fa-solid fa-gas-pump"></i> Fuel</h3>
							<ul class="alt">
								<li>{{ page.fuelRamp }} kg at the ramp</li>
								<li>{{ page.fuelShutdown }} kg at engine shutdown</li>
								<li>{{ page.fuelBurned }} kg used ( {{ page.fuelBurned | divided_by: 0.8 | divided_by: page.distanceKm | times: 100 | round: 0 }} l/100km )</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Gallery -->
				<div class="flightgallery">
					<h3>Screenshots</h3>
					{% include gallery.html flightNo = page.legNo %}
				</div>
			</div>
		</section>
	</div>

	{% include osm_post.html departure=page.departure.ident arrival=page.plannedArrival.ident %}
	{% include footer.html %}
</body>

</html>