<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}

	<div id="main" class="alt">
		<section id="one">
			<div class="inner">
				<!-- Title -->
				<header class="major">
					<h1>{{ page.description }}</h1>
				</header>
				<!-- Map -->
				<div class="map-container">
					<div id="map">

					</div>
				</div>
				<!-- InfoBox -->
				<div>
					<div class="row">
						<div class="6u 12u$(medium)">
							<h3>Departure</h3>
							<ul class="alt">
								<li>{{ page.departure.name }} ({{ page.departure.ident }})</li>
								<li>{{ page.departure.region.name }}</li>
								<li>{{ page.departure.country.name }}</li>
								<li>{{ page.departure.continentCode }}</li>
							</ul>
						</div>
						<div class="6u 12u$(medium)">
							<h3>Arrival</h3>
							<ul class="alt">
								<li>{{ page.arrival.name }} ({{ page.arrival.ident }})</li>
								<li>{{ page.arrival.region.name }}</li>
								<li>{{ page.arrival.country.name }}</li>
								<li>{{ page.arrival.continentCode }}</li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="6u 12u$(medium)">
							<h3>Route</h3>
							<ul class="alt">
								<li>{{ page.route }}</li>

								{% assign flyOverhead = page.distanceKm | divided_by: page.greatCircleKm | times: 100 %}
								<li>{{ page.distanceKm | round:0 }} km actual ({{ flyOverhead | round: 0 }}%)</li>

								{% assign planOverhead = page.routeKm | times: 1.0 | divided_by: page.greatCircleKm | times: 100 %}
								<li>{{ page.routeKm | round: 0 }} km planned ({{ planOverhead | round: 0 }}%)</li>
								<li>{{ page.greatCircleKm | round:0 }} km direct </li>
							</ul>
						</div>
						<div class="6u 12u$(medium)">
							<h3>Fuel</h3>
							<ul class="alt">
								<li>{{ page.fuelRamp }} kg at the ramp</li>
								<li>{{ page.fuelShutdown }} kg at engine shutdown</li>
								<li>{{ page.fuelBurned }} kg used</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Gallery -->
				<div class="flightgallery">
					<h5>Screenshots</h5>
					<div class="box alt">
						<div class="row 50% uniform">
							{% capture preview_folder %}/assets/caps/{{ page.legNo }}/tn/{% endcapture %}
							{% capture image_folder %}/assets/caps/{{ page.legNo }}/{% endcapture %}
							{% for file in site.static_files %}
							{% if file.path contains preview_folder %}
							{% assign filenameparts = file.path | split: "/" %}
							{% assign filename = filenameparts | last %}
							{% assign caption = filename %}
							{% assign preview = preview_folder | append: filename %}
							{% assign image = image_folder | append: filename %}
							<div class="3u 4u(medium) 6u(small)">
								<a class="fancy-image" data-src="{{ image }}" data-fancybox="gallery"
									data-caption="{{ caption }}">
									<img src="{{ preview }}" />
								</a>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	{% include footer.html %}

	<script defer>
		var map = L.map('map').setView([20, 0], 3);
		var flight = "{{page.plannedDeparture.ident}}{{page.plannedArrival.ident}}";

		// Tiles
		L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
		}).addTo(map);

		$.getJSON("/assets/api/flights/" + flight + "-gps.json", function (data) {
			// Events
			$.each(data.e, function (key, val) {
				L.circleMarker(val.latlon, {
					radius: 5,
					color: "Orange",
				}).addTo(map).bindPopup(val.name);
			});

			// Screenshots
			$.each(data.img, function (key, val) {
				L.circleMarker(val.latlon, {
					radius: 5,
					color: "Violet",
				}).addTo(map).bindPopup('<a data-src="' + val.uri + '" data-fancybox="gallery" data-caption="' + val.name + '">' + val.name + '</a>');
			});

			// Waypoints
			$.each(data.wp, function (key, val) {
				L.circleMarker(val.latlon, {
					radius: 5,
					color: "MediumSeaGreen",
				}).addTo(map).bindPopup(val.name);
			});

			// Track
			var polyline = L.polyline(data.trk, { color: 'DodgerBlue' }).addTo(map);
			map.fitBounds(polyline.getBounds());
		});
	</script>

</body>

</html>