<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<div id="wrapper">
		{% include header.html %}
		<!-- Banner -->
		<div id="main" class="alt">
			<section id="banner" class="accent0 fade">
				<span class="banner-image">
					<img src="/assets/images/banner.jpg" alt="">
				</span>
				<div class="inner">
					<div class="headline">
						<h1>{{ page.description }}</h1>
						<span>{{ page.route }} | {{ page.airacCycle }}</span>
					</div>
				</div>
			</section>
			<!-- InfoBox -->
			<section id="flight">
				<div class="inner">
					<div class="col">
						<h2>
							<i class="phi ph-bold ph-hourglass"></i>
							<span>Timeline</span>
						</h2>
						<ul class="alt">
							{% for item in page.timetable %}
							<li>{{ item.timestamp | date: "%H:%M" }} - {{ item.name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col">
						<div>
							<h2>
								<i class="phi ph-bold ph-airplane-takeoff"></i>
								<span>Departure</span>
							</h2>
							<ul class="alt">
								<li>{{ page.departure.name }} ({{ page.departure.ident }})</li>
								<li>{{ page.departure.region.name }}</li>
								<li>{{ page.departure.country.name }} <span
										class="fi fi-{{ page.departure.isoCountryCode | downcase }}"></span></li>
							</ul>
						</div>
						<div>
							<h2>
								<i class="phi ph-bold ph-airplane-landing"></i>
								<span>Arrival</span>
							</h2>
							<ul class="alt">
								<li>{{ page.arrival.name }} ({{ page.arrival.ident }})</li>
								<li>{{ page.arrival.region.name }}</li>
								<li>{{ page.arrival.country.name }} <span
										class="fi fi-{{ page.arrival.isoCountryCode | downcase }}"></span></li>
							</ul>
						</div>
					</div>
					<div class="col">
						<div>
							<h2>
								<i class="phi ph-bold ph-signpost"></i>
								<span>Route</span>
							</h2>
							<dl>
								<dt>Direct</dt>
								<dd>{{ page.greatCircleKm | round:0 }} km</dd>
								{% assign planOverhead = page.routeKm | times: 1.0 | divided_by:
								page.greatCircleKm |
								times: 100 | minus: 100 %}
								<dt>Planned</dt>
								<dd>{{ page.routeKm | round: 0 }} km ( +{{ planOverhead | round: 0 }}% )</dd>
								{% assign flyOverhead = page.distanceKm | times: 1.0 | divided_by:
								page.greatCircleKm |
								times: 100 | minus: 100 %}
								<dt>Actual</dt>
								<dd>{{ page.distanceKm | round:0 }} km ( +{{ flyOverhead | round: 0 }}% )</dd>
							</dl>
						</div>
						<div>
							<h2>
								<i class="phi ph-bold ph-gas-pump"></i>
								<span>Fuel</span>
							</h2>
							<dl>
								<dt>Extra</dt>
								<dd>{{ page.fuelShutdown }} kg</dd>

								<dt>Consumed</dt>
								<dd>{{ page.fuelBurned }} kg</dd>

								<dt>Milage</dt>
								<dd>{{ page.fuelBurned | divided_by: 0.8 |
									divided_by:
									page.distanceKm | times: 100 | round: 0 }} l/100km</dd>
							</dl>
						</div>
					</div>
				</div>
			</section>
			<!-- Map -->
			<section>
				<div id="map-wrapper">
					{% include map.html %}
				</div>
			</section>
			<!-- Gallery -->
			<section class="flightgallery">
				<div class="inner">
					<h2>Screenshots</h2>
					<div class="gallery">
						{% capture preview_folder %}/assets/caps/{{ page.legNo }}/tn/{% endcapture %}
						{% capture image_folder %}/assets/caps/{{ page.legNo }}/{% endcapture %}

						{% for file in site.static_files %}
						{% if file.path contains preview_folder %}

						{% assign filenameparts = file.path | split: "/" %}
						{% assign filename = filenameparts | last %}

						{% assign caption = filename %}
						{% assign preview = preview_folder | append: filename %}
						{% assign image = image_folder | append: filename %}

						<a class="spotlight" href="{{ image }}">
							<img src="{{ preview }}">
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
		</div>

		{% include footer.html %}
	</div>
	{% include menu.html %}
	{% include scripts.html %}
</body>

</html>