@use "../libs/vars" as *;
@use "../libs/functions" as *;

body {
  margin: 0;
  padding: 0;
  background: val($palette, bg);
  font-family: val($font, family);
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accent0 {
  box-shadow: inset 0 0 0 2000px val($palette, bg-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, bg-dark);
  }
}

.accent1 {
  box-shadow: inset 0 0 0 2000px val($palette, accent1-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent1-dark);
  }
}

.accent2 {
  box-shadow: inset 0 0 0 2000px val($palette, accent2-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent2-dark);
  }
}

.accent3 {
  box-shadow: inset 0 0 0 2000px val($palette, accent3-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent3-dark);
  }
}

.accent4 {
  box-shadow: inset 0 0 0 2000px val($palette, accent4-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent4-dark);
  }
}

.accent5 {
  box-shadow: inset 0 0 0 2000px val($palette, accent5-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent5-dark);
  }
}

.accent6 {
  box-shadow: inset 0 0 0 2000px val($palette, accent6-light);
  &.fade {
    -webkit-animation: fadein val($duration, banner) ease-in;
    -moz-animation: fadein val($duration, banner) ease-in;
    animation: fadein val($duration, banner) ease-in;
  }

  &.dark {
    box-shadow: inset 0 0 0 2000px val($palette, accent6-dark);
  }
}
