<div class="legs">
  <table>
    <thead>
      <tr>
        <th></th>
        <th align="right">#</th>
        <th align="center">Dep</th>
        <th align="center">Arr</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leg of legs">
        <td></td>
        <td align="right"><a *ngIf="leg.isFlown" [routerLink]="['/flight', leg.departure.icao, leg.arrival.icao]">{{leg.no}}</a><span *ngIf="!leg.isFlown">{{leg.no}}</span></td>
        <td align="center"><a *ngIf="leg.isFlown" [routerLink]="['/flight', leg.departure.icao, leg.arrival.icao]">{{leg.departure.icao}}</a><span *ngIf="!leg.isFlown">{{leg.departure.icao}}</span></td>
        <td align="center"><a *ngIf="leg.isFlown" [routerLink]="['/flight', leg.departure.icao, leg.arrival.icao]">{{leg.arrival.icao}}</a><span *ngIf="!leg.isFlown">{{leg.arrival.icao}}</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div>
