* {
    padding: 0;
    margin: 0;
}

.leaflet-marker-icon {
    height: 20px !important;
    width: 12px !important;
    margin-top: -21px !important;
    margin-left: -6px !important;
  }

  .container {
    max-width: 200.0rem;
  }

  .nowrap {
    white-space: nowrap;
  }