_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock
*.gem
.jekyll-cache
assets/images/screenshots
assets/replay
assets/caps
assets/api
assets/js
_data/flights
_posts
_data/aircraft.yml
node_modules
assets/css