<h2>Latest</h2>
<h5>{{ stats.departure }} - {{ stats.arrival }}</h5>
<ul>
    <li>{{ departure.name }}</li>
    <li>{{ arrival.name }}</li>
    <li>{{ stats.departureAt * 1000 | date }}</li>
    <li>route {{ stats.routeDistance * 1.852 | number: '1.0-0' }} km </li>
    <li>{{ stats.fuelUsed | number }} kg Jet A1</li>
    <li>{{ stats.flightTime * 1000 | date:'H:mm:ss':'UTC' }} h  </li>
    <li>ceiling {{ stats.altitude | number }} feet</li>
    <li>{{ stats.windComponent }} kts wind component </li>
    <li>{{ stats.landing.verticalSpeed }} feet/min touchdown </li>
</ul>