<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link type="image/png" sizes="96x96" rel="icon" href="{{ "assets/images/favicon.png" | relative_url }}">

	<link rel="stylesheet" href="{{ "assets/css/fontawesome.v6.5.2.min.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/flag-icons.v7.2.2.min.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/fancybox.v5.0.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/leaflet.v1.9.4.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />

	<script src="{{ "assets/js/leaflet.v1.9.4.js" | relative_url }}" crossorigin="anonymous"></script>
</head>
