<script defer>
    function populateMap(map) {
        var lat = {{ include.latitude }};

        var lon = {{ include.longitude }};
        var position = [lat, lon];
        var padding = 0.005;
        var bounds = [[lat - padding, lon - padding], [lat + padding, lon + padding]];

        map.flyToBounds(bounds);
        map.on('zoomend', function () {
            L.circleMarker(position, {
                radius: 10,
                color: "Violet",
            }).addTo(map);
        });
    }
</script>