<script type="text/javascript" defer>
    function populateMap(map) {
        var flight = "{{ include.departure }}{{ include.arrival }}";
        $.getJSON("/assets/api/flights/" + flight + "-gps.json", function (data) {
            // Track
            var polyline = L.polyline(data.trk, { color: 'DodgerBlue' });
            
            map.flyToBounds(polyline.getBounds());
            map.on('zoomend', function() {
                // Events
                $.each(data.e, function (key, val) {
                    L.circleMarker(val.latlon, {
                        radius: 5,
                        color: "Orange",
                    }).addTo(map).bindPopup(val.name);
                });

                // Screenshots
                $.each(data.img, function (key, val) {
                    L.circleMarker(val.latlon, {
                        radius: 5,
                        color: "Violet",
                    }).addTo(map).bindPopup('<a data-src="' + val.uri + '" data-fancybox="gallery" data-caption="' + val.name + '">' + val.name + '</a>');
                });

                // Waypoints
                $.each(data.wp, function (key, val) {
                    L.circleMarker(val.latlon, {
                        radius: 5,
                        color: "MediumSeaGreen",
                    }).addTo(map).bindPopup(val.name);
                });

                polyline.addTo(map);
            });
        });
    }
</script>